/* Fixed Boxes */
html, body, body > main, main > div {
    width: 100%;
    height: 100%;
}

/* Flex */
.flex {
    display: -webkit-flex;
    display: flex;
}
.flex-row {
    -webkit-flex-direction: row;
    flex-direction: row;
}
.flex-column {
    -webkit-flex-direction: column;
    flex-direction: column;
}
.flex > * {
    flex: 0 0 auto;
}

.flex-grow-1 {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.flex-shrink-1 {
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
}
.flex-grow-shrink-1 {
    -webkit-flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-grow: 1;
    flex-shrink: 1;
}

.scroll-y {
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
}

/* List */
.template {
    display: none;
}

#message-list .icon {
    margin-bottom: -58px;
    width: 48px;
    height: 48px;
    border: 4px solid;
    border-radius: 32px;
    background-size: cover;
    margin-top: 1.0em;
    z-index: 10;
    background-color: white;
    float: left;
}
#message-list .only-head-of-name {
    clear: left;
    margin-top: 12px;
}

#message-list > .message .modified {
    float: right;
    clear: right;
}

#message-list > .message {
    margin-left: 64px;
    animation: bg-fade-out 5s ease 0 1 normal;
}

#message-list > .message a.name {
    color: inherit;

    border-bottom: 1px solid;
    padding-left: 8px;

    margin-right: -8px;
    padding-right: 8px;

    margin-left: -48px;

    z-index: 0;
}

#message-list > .message.has-icon a.name {
    margin-left: -14px;
}
#message-list > .message .user_id {
    border-color: inherit !important;
    border-bottom: 1px solid;
    color: lightgray;
    font-size: small;
    padding-right: 8px;
}
#message-list > .message .user_id:before {
    content: '@';
}

.writing .user_id {
    float: right;
}

.writing span {
    margin-left: 1em;
    font-size: small;
    color: lightgray;
}

/* Form */
input {
    padding-left: 5px;
    padding-right: 5px;
}

/* Fix Materialize */
.btn.icon, .btn-flat.icon {
    padding-left: 10px;
    padding-right: 10px;
}
.btn.icon i, .btn-flat.icon i {
    margin-left: 0;
    margin-right: 0;
    float: none;
}

.sharp-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.sharp-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.sharp {
    border-radius: 0;
}
.dropdown-content {
    z-index: 1000;
}

.text-right {
    text-align: right;
}
