body {
    font-family: 'Yu Gothic', 'Meiryo', Sans-Serif;
}

/* Fixed Boxes */
html, body, body > main, main > div {
    width: 100%;
    height: 100%;
}

/* Flex */
.flex {
    display: -webkit-flex;
    display: flex;
}
.flex-row {
    -webkit-flex-direction: row;
    flex-direction: row;
}
.flex-column {
    -webkit-flex-direction: column;
    flex-direction: column;
}
.flex > * {
    flex: 0 0 auto;
}

.flex-grow-1 {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.flex-shrink-1 {
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
}
.flex-grow-shrink-1 {
    -webkit-flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-grow: 1;
    flex-shrink: 1;
}

.scroll-y {
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
}

/* List */
.template {
    display: none;
}

#message-list .icon {
    position: relative;
    margin-bottom: -78px;
    width: 48px;
    height: 48px;
    border: 4px solid;
    border-radius: 32px;
    background-size: cover;
    margin-top: 1.0em;
    z-index: -1;
    background-color: white;
    float: left;

    animation: chat-fade-in .5s .5s both;
    -webkit-animation: chat-fade-in .5s .5s both;
}
#message-list .only-head-of-name {
    clear: left;
    margin-top: 12px;
    margin-bottom: 4px;
}

#message-list > .message .visible-is-pc {
    opacity: 0;
    transition: opacity .5s .5s;
}
#message-list > .message.is-pc .visible-is-pc {
    opacity: 1;
}

#message-list > .message .modified {
    float: right;
    clear: right;
    width: 40px;
    text-align: center;
    margin-top: 0;
}

#message-list > .message {
    margin-left: 64px;
    margin-right: 34px;
}

#message-list > .message .pc-icon {
    margin-top: 2px;
    color: gray;
}

#message-list > .message .header {
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.12); */

    transition: margin .5s, padding .5s, border-left .5s;

    border-color: transparent;
    border-bottom: 1px solid;
    border-right: 42px solid;

    padding-left: 30px;
    padding-left: 44px;
    padding-right: 4px;
    margin-left: -58px;
}
#message-list > .message.has-icon .header {
    padding-left: 6px;
    margin-left: -12px;
    border-left: transparent;
}

#message-list > .message a.name {
    color: inherit;
}

#message-list > .message .user_id {
    color: lightgray;
    font-size: small;
}
#message-list > .message .user_id:before {
    content: '@';
}

.writing .user_id {
    float: right;
}

.writing span {
    margin-left: 1em;
    font-size: small;
    color: lightgray;
}

/* Form */
input {
    padding-left: 5px;
    padding-right: 5px;
}

/* Fix Materialize */
.btn.icon, .btn-flat.icon {
    padding-left: 10px;
    padding-right: 10px;
}
.btn.icon i, .btn-flat.icon i {
    margin-left: 0;
    margin-right: 0;
    float: none;
}

.sharp-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.sharp-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.sharp {
    border-radius: 0;
}
.dropdown-content {
    z-index: 1000;
}

.text-right {
    text-align: right;
}

/* Keyframes */
@keyframes chat-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes chat-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
