/* Mixins */
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

/* Fix angular-material-icons */
ng-md-icon {
    display: flex;
    display: -webkit-flex;
}

/* Fix Theme */
md-toolbar.md-default-theme {
    color: white;
    .md-button {
        color: white;
    }
}
.md-button.md-default-theme.md-primary.md-raised {
    color: white;
}

/* Font Settings */
body {
    font-family: 'Yu Gothic', 'Meiryo', Sans-Serif;
}

/* Chat */
.user_id {
    color: grey;
    font-size: small;
    &:before {
        content: '@';
    }
}

.face {
    background-color: white;
    background-size: cover;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: inherit;
    width: 64px;
    height: 64px;
}

md-item.message {
    &.header md-item-content {
        margin-top: 16px;
    }

    .md-tile-left,
    .md-tile-content {
        border-color: inherit;
    }

    .md-tile-left {
        .face-box {
            border-color: inherit;

            .line {
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: inherit;
                width: 64px;
                position: absolute;
                top: 0;
                left: 8px;
            }
            .face {
                position: absolute;
                top: -6px;
            }
        }
    }

    .md-tile-content {
        margin-left: 16px;
        padding-top: 0;
        padding-bottom: 0;

        .header {
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: inherit;
        }
    }
}

/* CSS Dice */
#dice-table {
    top: 50px;
}
