doctype html
html
  head
    title BeniimoOnline
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    style
        | html, body, #app {
        |     width: 100%;
        |     height: 100%;
        |     margin: 0;
        |     padding: 0;
        | }
  body
    div#app
    script(src='/js/browser.js')