doctype html
html
  head
    title BeniimoOnline
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(rel="stylesheet", href="/dice3d/dice3d.css")
    style
        | html, body, #app {
        |     width: 100%;
        |     height: 100%;
        |     margin: 0;
        |     padding: 0;
        | }
        | #dice3d-table {
        |     top: 160px;
        | }
  body
    audio#dice3d-sound(src="/dice3d/nc93322.mp3")
    audio#notice-sound(src="/audio/nc32318.wav")
    div#app
    script(src='/js/browser.js')