doctype html
html
  head
    title NekoChat
    meta(name="viewport", content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0")
    link(href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(rel="stylesheet", href="/dice3d/dice3d.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="shortcut icon", href="/img/nekokoro16.png", type="image/png")
    link(rel="icon", href="/img/nekokoro16.png", type="image/png")
  body
    audio#dice3d-sound(src="/dice3d/nc93322.mp3")
    audio#notice-sound(src="/audio/nc32318.wav")
    div#app.filled-container loading...
    script(src='/js/browser.js')