doctype html
html
  head
    title!= title
  body
    table
        tbody
            each message in messages
                tr
                    td!= message.name +  '@' + message.user_id
                    td!= message.message.replace(/\t/g, ' ').replace(/\r?\n/g, '<br>')
                    td!= message.modified